.page_Title{
    background-image: url(../images/company_banner.jpg);
    /*background-position: 100% 40%;*/
}

.brief{
    width: 100%;
    padding: 10px;
}

.img_Area{
    width: 100%;
    text-align:center;
    margin-bottom: 15px;
    position: relative;
}

.front {
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(-1000px);
    transform: translateZ(-1000px);

}

.back{
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(-1000px);
    transform: translateZ(-1000px);
}

.front img{
    width: 100%;
}
.back img{
    width: 100%;
}

.img_Area img{
    width: 100%;
}


.text{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.text h3{
    line-height: 1.5;
    font-size: 28px;
    padding-left: 5px;
    position: relative;
    margin-bottom: 15px;
    color: #000;
}

.text h3::before{
    content: "";
    position: absolute;
    width: 5px;
    background-color: #E89032;
    left: -7px;
    bottom: 6px;
    top: 6px;
}

.text p{
    /*font-size: 14px;*/
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.img_Area .front img{
    -ms-animation: front 5s 0s linear infinite;
    -o-animation: front 5s 0s linear infinite;
    -moz-animation: front 5s 0s linear infinite;
    -webkit-animation: front 5s 0s linear infinite;
    animation: front 5s 0s linear infinite;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

}

@keyframes front{
    from{
        -ms-transform: perspective(1400px) rotateY(0deg);
        -o-transform: perspective(1400px) rotateY(0deg);
        -moz-transform: perspective(1400px) rotateY(0deg);
        -webkit-transform: perspective(1400px) rotateY(0deg);
        transform: perspective(1400px) rotateY(0deg);
    }
    to{
        -ms-transform: perspective(1400px) rotateY(360deg); 
        -o-transform: perspective(1400px) rotateY(360deg); 
        -moz-transform: perspective(1400px) rotateY(360deg); 
        -webkit-transform: perspective(1400px) rotateY(360deg); 
        transform: perspective(1400px) rotateY(360deg);  
    }
}

.img_Area .back img{
    -ms-animation: back 5s 0s linear infinite;
    -o-animation: back 5s 0s linear infinite;
    -moz-animation: back 5s 0s linear infinite;
    -webkit-animation: back 5s 0s linear infinite;
    animation: back 5s 0s linear infinite;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

@keyframes back{
    from{
        -ms-transform: perspective(1400px) rotateY(180deg);
        -o-transform: perspective(1400px) rotateY(180deg);
        -moz-transform: perspective(1400px) rotateY(180deg);
        -webkit-transform: perspective(1400px) rotateY(180deg);
        transform: perspective(1400px) rotateY(180deg);
    }
    to{
        -ms-transform: perspective(1400px) rotateY(540deg);
        -o-transform: perspective(1400px) rotateY(540deg);
        -moz-transform: perspective(1400px) rotateY(540deg);
        -webkit-transform: perspective(1400px) rotateY(540deg);
        transform: perspective(1400px) rotateY(540deg);
    }
}

.vision{
    width: 100%;
    padding: 10px;
}

.brief:after, .vision:after{
    content: '';
    display: block;
    clear: both;
}

.timeline_Title{
    padding: 10px 30px 10px 30px ;
}

.timeline_Title h3{
    line-height: 1.5;
    font-size: 28px;
    padding-left: 5px;
    position: relative;
    margin-bottom: 15px;
    text-overflow:ellipsis;
    /*overflow:hidden;*/
}


.timeline_Title h3::before{
    content: "";
    position: absolute;
    width: 5px;
    background-color: #E89032;
    left: -7px;
    bottom: 6px;
    top: 6px;
}

.timeline{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px 50px;
}

.timeline::after{
    content: "";
    position: absolute;
    width: 5px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 26px;
    margin-left: -3px;
}

.content_Box{
    margin-bottom: 30px;
    border:1px solid #FFC0AF;
    /*background-color: #FFC0AF;*/
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px; 
    position: relative;
}


.content_Box .content p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.content_Box .content .yeartime{
    font-size: 18px;
    font-weight: bold;
    color: #DE6430;
}



.content_Box::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    left: -10px;
    border: medium solid #FFC0AF;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFC0AF transparent transparent;
}

.content_Box::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: -53px;
    background-color: #FFFFFF;
    border: 4px solid #FFC0AF;
    border-radius: 50%;
    z-index: 1
}
.content_Box .content{
    width: 100%;
}

.content_Box .content p{
    font-size: 16px;
}


@media screen and (min-width: 576px){
    .vision .text{
        position: relative;
        left: 50%;
    }

    .vision .img_Area{
        position: relative;
        padding: 15px;
        left: -50%;
    }
    .img_Area{
        width: 50%;
        float: right;
    }
    .text{
        width: 50%;
        float: right;
    }
}


@media screen and (min-width: 768px){
    .timeline{
        padding-left: 10px;
        padding-right: 15px; 
    }

    .timeline::after{
        left: 50%;
    }

    .content_Box{
        width: 45%;
    }

    .right{
        left: 53%;
    }


    .left::before{
        left: 324px;
        border: medium solid #FFC0AF;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #FFC0AF;
    }
    
    .left::after{
        left: 338px;
    }

    .right::after{
        left: -48px;
    }
}


@media screen and (min-width: 992px){

    .text p{
        font-size: 18px;
    }

    .content_Box .content p{
        font-size: 18px;
    }

    .content_Box .content .yeartime{
        font-size: 20px;
    }

    .content_Box .content p{
        font-size: 18px;
    }

    .content_Box:after{
        transition: border-color .5s;
    }
    .left:before{
        transition: border-color .5s;
    }

    .right:before{
        transition: border-color .5s;
    }

    .content_Box:hover{
        border-color: #E89032;
    }

    .left:hover:before{
       border-color: transparent transparent transparent #E89032;
    }

    .right:hover:before{
       border-color: transparent #E89032 transparent transparent;
    }

    .content_Box:hover:after{
        border-color: #E89032;
    }


    .right{
        left: 53%;
    }


    .left::before{
        left: 423px;
        border: medium solid #FFC0AF;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #FFC0AF;
    }
    
    .left::after{
        left: 448px;
    }

    .right::after{
        left: -53px;
    }
}




@media screen and (min-width: 1200px){
    .text{
        width: 65%;
        float: right;
    }

    .text h3,
    .timeline_Title h3{
        font-size: 36px;
    }

    .text p{
        font-size: 20px;
    }

    .content_Box .content p{
        font-size: 20px;
    }

    .content_Box .content .yeartime{
        font-size: 24px;
    }



    .img_Area{
        width: 35%;
        float: right;
    }

    .vision .text{
        position: relative;
        left: 35%;
    }

    .vision .img_Area{
        position: relative;
        left: -65%;
    }

    .timeline{
        padding: 50px;
    }

    .left{
        /*margin-left: -35px;*/
    }

    .left::before{
        left: 480px;
        border: medium solid #FFC0AF;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #FFC0AF;
    }

    .right::before{
        border: medium solid #FFC0AF;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FFC0AF transparent transparent;
    }
    
    .left::after{
        left: 508px;
    }

    .right::after{
        left: -60px;
    }
}